#diceCanvas {
    border: 5px solid black;
    display: block;
    margin: 0 auto;
}

body {
    background-color:#99e8f5 ; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
